{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" http-equiv="encoding">
  <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
  <title>Title</title>
  <link rel="stylesheet" href="{% static 'css/custom.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <!-- for jquery datatables -->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
  {% block stylesheet %}
  {% endblock %}

<!--  Nav bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">My Ecommerce</a>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container bootstrap snippets bootdey">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="dropdown "><a href="#" id="drop1" data-toggle="dropdown" class="dropdown-toggle" role="button">Account Options <b class="caret"></b></a>
              <ul role="menu" class="dropdown-menu" aria-labelledby="drop1">
                  <li role="presentation"><a href="/accounts/logout" role="menuitem">Logout</a></li>
              </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'new_product' %}">Add New Product <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <!-- <form method="get" action="/search_results" class="form-inline my-2 my-lg-0">
      <input name="query" id="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>

</head>

<body>
<div class="container">
{% block body %}

{% block javascript %}
{% endblock javascript %}

{% endblock body %}
</div>
<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/new_product_ajax.js' %}"></script>
<!-- for jquery dataTables -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
</body>

</html>