{% extends 'base.html' %}
{% load widget_tweaks %}
{% load thumbnail %}

{% block body %}
<div class="row">
  {% for product in products %}
  <div class="col-sm-6 col-md-4">
    <div class="shop__thumb">
        <div class="shop-thumb__img">
          <img src="{{ product.image|thumbnail_url:'avatar' }}" class="img-responsive" alt="...">
        </div>
        <h5 class="shop-thumb__title">
          {{ product.title }}
        </h5>
        <div class="shop-thumb__price">
          Price: &#8377;{{ product.price }}
        </div>
        <a href="{% url 'product_detail' product.pk %}" role="button" class="btn btn-primary">Show Details</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}