{% extends 'base.html' %}

{% block body %}
<div id="product-success-msg" class="alert alert-success">Product Added Successfully</div>
<br><br>
<form method="post" id="add-product-form" novalidate enctype="multipart/form-data" class="mb-4" data-url="{% url 'new_product' %}">
    {% csrf_token %}
    <p style="margin-left: 40%">Add New Product</p>

    {% include 'includes/form.html' %}
    <br>
    <button type="submit" class="btn btn-success">Add Product</button>
    <br><br><br>
</form>
{% endblock %}